APP_Name="mini rag"
APP_Version="0.1"
APP_Description="A minimal RAG application using LLMs"
APP_Author="Mostafa Mahmoud"
ile_allowed_extensions=["text/plain","application/pdf"]
File_max_size=10
FILE_DEFAULT_CHUNK_SIZE=512000 #512KB